<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap"
      rel="stylesheet"
    />
    <!-- Styles -->
    <link rel="stylesheet" href="static/css/style.css" />

    <title>Dummy Image Generator</title>
  </head>
  <body>
    <header>
      <div class="header__container center_panel">
        <div class="header__left_panel">
          <div class="logo_wrapper">
            <img class="header__logo_img" src="static/img/logo.svg" />
          </div>
          <p class="header__left_panel__title">Dummy image generator</p>
        </div>
        <ul class="header__ul">
          <li class="header__li">
            <label class="header__link" onclick="scrollToTitle('about')">
              About
            </label>
          </li>
          <li class="header__li">
            <label class="header__link" onclick="scrollToTitle('sizes')">
              Sizes
            </label>
          </li>
          <li class="header__li">
            <label class="header__link" onclick="scrollToTitle('formats')">
              Formats
            </label>
          </li>
          <li class="header__li">
            <label class="header__link" onclick="scrollToTitle('colors')">
              Colors
            </label>
          </li>
          <li class="header__li">
            <label class="header__link" onclick="scrollToTitle('source')">
              Source
            </label>
          </li>
        </ul>
        <div
          class="burger_button"
          onclick="setActiveBurgerMenu(!activeBurgerMenu)"
        >
          <div class="burger_button__container">
            <span class="burger_button__line burger_button__line_top"></span>
            <span class="burger_button__line burger_button__line_center"></span>
            <span class="burger_button__line burger_button__line_bottom"></span>
          </div>
        </div>
      </div>
    </header>
    <div class="burger_menu">
      <div class="burger_menu__container">
        <ul class="burger_menu__ul">
          <li class="burger_menu__li">
            <label class="burger_menu__link" onclick="scrollToTitle('about')">
              About
            </label>
          </li>
          <li class="burger_menu__li">
            <label class="burger_menu__link" onclick="scrollToTitle('sizes')">
              Sizes
            </label>
          </li>
          <li class="burger_menu__li">
            <label class="burger_menu__link" onclick="scrollToTitle('formats')">
              Formats
            </label>
          </li>
          <li class="burger_menu__li">
            <label class="burger_menu__link" onclick="scrollToTitle('colors')">
              Colors
            </label>
          </li>
          <li class="burger_menu__li">
            <label class="burger_menu__link" onclick="scrollToTitle('source')">
              Source
            </label>
          </li>
        </ul>
      </div>
    </div>
    <main>
      <div class="main__container center_panel">
        <section>
          <h3 class="section__title" id="about">About</h3>
          <p class="section__p">
            Dummy Image Generator allows you to dynamically create and return
            images of various sizes, colors and styles, providing flexible
            customization of image generation through a simple and user-friendly
            URL interface.
          </p>
          <h4 class="section__subtitle">Path structure</h4>
          <div class="path_structure">
            <span class="path_structure__item">size</span>
            <span class="path_structure__sep">/</span>
            <span class="path_structure__item">background_color</span>
            <span class="path_structure__sep">/</span>
            <span class="path_structure__item">text_color</span>
            <span class="path_structure__sep">/</span>
            <span class="path_structure__item">format</span>
            <span class="path_structure__sep">?</span>
            <span class="path_structure__params">text</span>
          </div>
        </section>
        <section class="sizes_section">
          <h3 class="section__title" id="sizes">Sizes</h3>
          <p class="section__p">
            Image size is one of the key characteristics of a graphics file. It
            is defined in pixels and indicates the number of points that make up
            the image horizontally and vertically.
          </p>
          <p class="section__p">
            Image size has two main components: width and height. For example,
            if an image is 1920 x 1080 pixels, that means it is 1920 pixels
            horizontally and 1080 pixels vertically.
          </p>
          <h4 class="section__subtitle">Recording formats</h4>
          <div class="formats_list">
            <span class="formats_list__item">100x100</span>
            <span class="formats_list__item">100</span>
            <span class="formats_list__other">and other</span>
          </div>
          <ul class="sizes_section__ul">
            <li class="sizes_section__li">
              <span class="size_number">320</span>
              x
              <span class="size_number">240</span>
              QVGA
            </li>
            <li class="sizes_section__li">
              <span class="size_number">352</span>
              x
              <span class="size_number">240</span>
              SIF
            </li>
            <li class="sizes_section__li">
              <span class="size_number">352</span>
              x
              <span class="size_number">288</span>
              CIF
            </li>
            <li class="sizes_section__li">
              <span class="size_number">400</span>
              x
              <span class="size_number">240</span>
              WQVGA
            </li>
            <li class="sizes_section__li">
              <span class="size_number">640</span>
              x
              <span class="size_number">240</span>
              HVGA
            </li>
            <li class="sizes_section__li">
              <span class="size_number">640</span>
              x
              <span class="size_number">360</span>
              NHD
            </li>
            <li class="sizes_section__li">
              <span class="size_number">640</span>
              x
              <span class="size_number">480</span>
              VGA
            </li>
            <li class="sizes_section__li">
              <span class="size_number">800</span>
              x
              <span class="size_number">480</span>
              WVGA
            </li>
            <li class="sizes_section__li">
              <span class="size_number">800</span>
              x
              <span class="size_number">600</span>
              SVGA
            </li>
            <li class="sizes_section__li">
              <span class="size_number">848</span>
              x
              <span class="size_number">480</span>
              FWVGA
            </li>
            <li class="sizes_section__li">
              <span class="size_number">960</span>
              x
              <span class="size_number">540</span>
              QHD
            </li>
            <li class="sizes_section__li">
              <span class="size_number">1024</span>
              x
              <span class="size_number">600</span>
              WSVGA
            </li>
            <li class="sizes_section__li">
              <span class="size_number">1024</span>
              x
              <span class="size_number">768</span>
              XGA
            </li>
            <li class="sizes_section__li">
              <span class="size_number">1200</span>
              x
              <span class="size_number">600</span>
              WXVGA
            </li>
            <li class="sizes_section__li">
              <span class="size_number">1280</span>
              x
              <span class="size_number">720</span>
              HD
            </li>
            <li class="sizes_section__li">
              <span class="size_number">1280</span>
              x
              <span class="size_number">768</span>
              WXGA
            </li>
            <li class="sizes_section__li">
              <span class="size_number">1280</span>
              x
              <span class="size_number">1024</span>
              SXGA
            </li>
            <li class="sizes_section__li">
              <span class="size_number">1536</span>
              x
              <span class="size_number">960</span>
              XJXGA
            </li>
            <li class="sizes_section__li">
              <span class="size_number">1600</span>
              x
              <span class="size_number">1024</span>
              WSXGA
            </li>
            <li class="sizes_section__li">
              <span class="size_number">1600</span>
              x
              <span class="size_number">1200</span>
              UXGA
            </li>
            <li class="sizes_section__li">
              <span class="size_number">1920</span>
              x
              <span class="size_number">1080</span>
              FHD
            </li>
            <li class="sizes_section__li">
              <span class="size_number">1920</span>
              x
              <span class="size_number">1200</span>
              WUXGA
            </li>
          </ul>
        </section>
        <section class="formats_section">
          <h3 class="section__title" id="formats">Formats</h3>
          <div class="formats_section__container">
            <span class="format">PNG</span>
            <span class="format">JPEG</span>
            <span class="format">WEBP</span>
            <span class="format">GIF</span>
            <span class="format">SVG</span>
          </div>
        </section>
        <section class="colors_section">
          <h3 class="section__title" id="colors">Colors</h3>
          <p class="section__p">
            Color in an image is one of the important aspects that determine its
            visual perception. Color can create a mood, highlight objects,
            convey information, or evoke emotion in the viewer.
          </p>
          <p class="section__p">
            In digital images, color is represented by a combination of three
            primary colors: red (Red), green (Green) and blue (Blue). This is
            called the RGB color model. Each pixel in an image contains
            numerical values for each of these three colors, which determine the
            intensity of the corresponding color in that pixel.
          </p>
          <p class="section__p">
            The intensity of each color is determined by a number from 0 to 255,
            where 0 represents no color (black) and 255 represents the full
            intensity of the color (saturated).
          </p>
          <h4 class="section__subtitle">Recording formats</h4>
          <div class="formats_list">
            <span class="formats_list__item">f</span>
            <span class="formats_list__item">ff</span>
            <span class="formats_list__item">fff</span>
            <span class="formats_list__item">ffffff</span>
            <span class="formats_list__item">255,255,255</span>
            <span class="formats_list__other">and other</span>
          </div>
          <ul class="colors_section__ul">
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/f08080?text=no_text" />
              </div>
              <span class="color_name">LightCoral</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/fa8072?text=no_text" />
              </div>
              <span class="color_name">Salmon</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/e9967a?text=no_text" />
              </div>
              <span class="color_name">DarkSalmon</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/ffa07a?text=no_text" />
              </div>
              <span class="color_name">LightSalmon</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/dc143c?text=no_text" />
              </div>
              <span class="color_name">Crimson</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/ff0000?text=no_text" />
              </div>
              <span class="color_name">Red</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/b22222?text=no_text" />
              </div>
              <span class="color_name">FireBrick</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/8b0000?text=no_text" />
              </div>
              <span class="color_name">DarkRed</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/ffc0cb?text=no_text" />
              </div>
              <span class="color_name">Pink</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/ffb6c1?text=no_text" />
              </div>
              <span class="color_name">LightPink</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/ff69b4?text=no_text" />
              </div>
              <span class="color_name">HotPink</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/ff1493?text=no_text" />
              </div>
              <span class="color_name">DeepPink</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/c71585?text=no_text" />
              </div>
              <span class="color_name">MediumVioletRed</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/db7093?text=no_text" />
              </div>
              <span class="color_name">PaleVioletRed</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/ffa07a?text=no_text" />
              </div>
              <span class="color_name">LightSalmon</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/ff7f50?text=no_text" />
              </div>
              <span class="color_name">Coral</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/ff6347?text=no_text" />
              </div>
              <span class="color_name">Tomato</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/ff4500?text=no_text" />
              </div>
              <span class="color_name">OrangeRed</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/ff8c00?text=no_text" />
              </div>
              <span class="color_name">DarkOrange</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/ffa500?text=no_text" />
              </div>
              <span class="color_name">Orange</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/ffd700?text=no_text" />
              </div>
              <span class="color_name">Gold</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/ffff00?text=no_text" />
              </div>
              <span class="color_name">Yellow</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/ffffe0?text=no_text" />
              </div>
              <span class="color_name">LightYellow</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/fffacd?text=no_text" />
              </div>
              <span class="color_name">LemonChiffon</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/fafad2?text=no_text" />
              </div>
              <span class="color_name">LightGoldenrodYellow</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/ffefd5?text=no_text" />
              </div>
              <span class="color_name">PapayaWhip</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/ffe4b5?text=no_text" />
              </div>
              <span class="color_name">Moccasin</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/ffdab9?text=no_text" />
              </div>
              <span class="color_name">PeachPuff</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/eee8aa?text=no_text" />
              </div>
              <span class="color_name">PaleGoldenrod</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/f0e68c?text=no_text" />
              </div>
              <span class="color_name">Khaki</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/bdb76b?text=no_text" />
              </div>
              <span class="color_name">DarkKhaki</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/e6e6fa?text=no_text" />
              </div>
              <span class="color_name">Lavender</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/d8bfd8?text=no_text" />
              </div>
              <span class="color_name">Thistle</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/dda0dd?text=no_text" />
              </div>
              <span class="color_name">Plum</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/ee82ee?text=no_text" />
              </div>
              <span class="color_name">Violet</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/da70d6?text=no_text" />
              </div>
              <span class="color_name">Orchid</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/ff00ff?text=no_text" />
              </div>
              <span class="color_name">Fuchsia</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/ff00ff?text=no_text" />
              </div>
              <span class="color_name">Magenta</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/ba55d3?text=no_text" />
              </div>
              <span class="color_name">MediumOrchid</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/9370db?text=no_text" />
              </div>
              <span class="color_name">MediumPurple</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/663399?text=no_text" />
              </div>
              <span class="color_name">RebeccaPurple</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/8a2be2?text=no_text" />
              </div>
              <span class="color_name">BlueViolet</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/9400d3?text=no_text" />
              </div>
              <span class="color_name">DarkViolet</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/9932cc?text=no_text" />
              </div>
              <span class="color_name">DarkOrchid</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/8b008b?text=no_text" />
              </div>
              <span class="color_name">DarkMagenta</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/800080?text=no_text" />
              </div>
              <span class="color_name">Purple</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/4b0082?text=no_text" />
              </div>
              <span class="color_name">Indigo</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/6a5acd?text=no_text" />
              </div>
              <span class="color_name">SlateBlue</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/483d8b?text=no_text" />
              </div>
              <span class="color_name">DarkSlateBlue</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/7b68ee?text=no_text" />
              </div>
              <span class="color_name">MediumSlateBlue</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/adff2f?text=no_text" />
              </div>
              <span class="color_name">GreenYellow</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/7fff00?text=no_text" />
              </div>
              <span class="color_name">Chartreuse</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/7cfc00?text=no_text" />
              </div>
              <span class="color_name">LawnGreen</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/00ff00?text=no_text" />
              </div>
              <span class="color_name">Lime</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/32cd32?text=no_text" />
              </div>
              <span class="color_name">LimeGreen</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/98fb98?text=no_text" />
              </div>
              <span class="color_name">PaleGreen</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/90ee90?text=no_text" />
              </div>
              <span class="color_name">LightGreen</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/00fa9a?text=no_text" />
              </div>
              <span class="color_name">MediumSpringGreen</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/00ff7f?text=no_text" />
              </div>
              <span class="color_name">SpringGreen</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/3cb371?text=no_text" />
              </div>
              <span class="color_name">MediumSeaGreen</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/2e8b57?text=no_text" />
              </div>
              <span class="color_name">SeaGreen</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/228b22?text=no_text" />
              </div>
              <span class="color_name">ForestGreen</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/008000?text=no_text" />
              </div>
              <span class="color_name">Green</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/006400?text=no_text" />
              </div>
              <span class="color_name">DarkGreen</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/9acd32?text=no_text" />
              </div>
              <span class="color_name">YellowGreen</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/6b8e23?text=no_text" />
              </div>
              <span class="color_name">OliveDrab</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/808000?text=no_text" />
              </div>
              <span class="color_name">Olive</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/556b2f?text=no_text" />
              </div>
              <span class="color_name">DarkOliveGreen</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/66cdaa?text=no_text" />
              </div>
              <span class="color_name">MediumAquamarine</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/8fbc8b?text=no_text" />
              </div>
              <span class="color_name">DarkSeaGreen</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/20b2aa?text=no_text" />
              </div>
              <span class="color_name">LightSeaGreen</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/008b8b?text=no_text" />
              </div>
              <span class="color_name">DarkCyan</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/008080?text=no_text" />
              </div>
              <span class="color_name">Teal</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/00ffff?text=no_text" />
              </div>
              <span class="color_name">Aqua</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/00ffff?text=no_text" />
              </div>
              <span class="color_name">Cyan</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/e0ffff?text=no_text" />
              </div>
              <span class="color_name">LightCyan</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/afeeee?text=no_text" />
              </div>
              <span class="color_name">PaleTurquoise</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/7fffd4?text=no_text" />
              </div>
              <span class="color_name">Aquamarine</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/40e0d0?text=no_text" />
              </div>
              <span class="color_name">Turquoise</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/48d1cc?text=no_text" />
              </div>
              <span class="color_name">MediumTurquoise</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/00ced1?text=no_text" />
              </div>
              <span class="color_name">DarkTurquoise</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/5f9ea0?text=no_text" />
              </div>
              <span class="color_name">CadetBlue</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/4682b4?text=no_text" />
              </div>
              <span class="color_name">SteelBlue</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/b0c4de?text=no_text" />
              </div>
              <span class="color_name">LightSteelBlue</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/b0e0e6?text=no_text" />
              </div>
              <span class="color_name">PowderBlue</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/add8e6?text=no_text" />
              </div>
              <span class="color_name">LightBlue</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/87ceeb?text=no_text" />
              </div>
              <span class="color_name">SkyBlue</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/87cefa?text=no_text" />
              </div>
              <span class="color_name">LightSkyBlue</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/00bfff?text=no_text" />
              </div>
              <span class="color_name">DeepSkyBlue</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/1e90ff?text=no_text" />
              </div>
              <span class="color_name">DodgerBlue</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/6495ed?text=no_text" />
              </div>
              <span class="color_name">CornflowerBlue</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/7b68ee?text=no_text" />
              </div>
              <span class="color_name">MediumSlateBlue</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/4169e1?text=no_text" />
              </div>
              <span class="color_name">RoyalBlue</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/0000ff?text=no_text" />
              </div>
              <span class="color_name">Blue</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/0000cd?text=no_text" />
              </div>
              <span class="color_name">MediumBlue</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/00008b?text=no_text" />
              </div>
              <span class="color_name">DarkBlue</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/000080?text=no_text" />
              </div>
              <span class="color_name">Navy</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/191970?text=no_text" />
              </div>
              <span class="color_name">MidnightBlue</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/fff8dc?text=no_text" />
              </div>
              <span class="color_name">Cornsilk</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/ffebcd?text=no_text" />
              </div>
              <span class="color_name">BlanchedAlmond</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/ffe4c4?text=no_text" />
              </div>
              <span class="color_name">Bisque</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/ffdead?text=no_text" />
              </div>
              <span class="color_name">NavajoWhite</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/f5deb3?text=no_text" />
              </div>
              <span class="color_name">Wheat</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/deb887?text=no_text" />
              </div>
              <span class="color_name">BurlyWood</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/d2b48c?text=no_text" />
              </div>
              <span class="color_name">Tan</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/bc8f8f?text=no_text" />
              </div>
              <span class="color_name">RosyBrown</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/f4a460?text=no_text" />
              </div>
              <span class="color_name">SandyBrown</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/daa520?text=no_text" />
              </div>
              <span class="color_name">Goldenrod</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/b8860b?text=no_text" />
              </div>
              <span class="color_name">DarkGoldenrod</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/cd853f?text=no_text" />
              </div>
              <span class="color_name">Peru</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/d2691e?text=no_text" />
              </div>
              <span class="color_name">Chocolate</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/8b4513?text=no_text" />
              </div>
              <span class="color_name">SaddleBrown</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/a0522d?text=no_text" />
              </div>
              <span class="color_name">Sienna</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/a52a2a?text=no_text" />
              </div>
              <span class="color_name">Brown</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/800000?text=no_text" />
              </div>
              <span class="color_name">Maroon</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/ffffff?text=no_text" />
              </div>
              <span class="color_name">White</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/fffafa?text=no_text" />
              </div>
              <span class="color_name">Snow</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/f0fff0?text=no_text" />
              </div>
              <span class="color_name">HoneyDew</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/f5fffa?text=no_text" />
              </div>
              <span class="color_name">MintCream</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/f0ffff?text=no_text" />
              </div>
              <span class="color_name">Azure</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/f0f8ff?text=no_text" />
              </div>
              <span class="color_name">AliceBlue</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/f8f8ff?text=no_text" />
              </div>
              <span class="color_name">GhostWhite</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/f5f5f5?text=no_text" />
              </div>
              <span class="color_name">WhiteSmoke</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/fff5ee?text=no_text" />
              </div>
              <span class="color_name">SeaShell</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/f5f5dc?text=no_text" />
              </div>
              <span class="color_name">Beige</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/fdf5e6?text=no_text" />
              </div>
              <span class="color_name">OldLace</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/fffaf0?text=no_text" />
              </div>
              <span class="color_name">FloralWhite</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/fffff0?text=no_text" />
              </div>
              <span class="color_name">Ivory</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/faebd7?text=no_text" />
              </div>
              <span class="color_name">AntiqueWhite</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/faf0e6?text=no_text" />
              </div>
              <span class="color_name">Linen</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/fff0f5?text=no_text" />
              </div>
              <span class="color_name">LavenderBlush</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/ffe4e1?text=no_text" />
              </div>
              <span class="color_name">MistyRose</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/dcdcdc?text=no_text" />
              </div>
              <span class="color_name">Gainsboro</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/d3d3d3?text=no_text" />
              </div>
              <span class="color_name">LightGray</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/c0c0c0?text=no_text" />
              </div>
              <span class="color_name">Silver</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/a9a9a9?text=no_text" />
              </div>
              <span class="color_name">DarkGray</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/808080?text=no_text" />
              </div>
              <span class="color_name">Gray</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/696969?text=no_text" />
              </div>
              <span class="color_name">DimGray</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/778899?text=no_text" />
              </div>
              <span class="color_name">LightSlateGray</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/708090?text=no_text" />
              </div>
              <span class="color_name">SlateGray</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/2f4f4f?text=no_text" />
              </div>
              <span class="color_name">DarkSlateGray</span>
            </li>
            <li class="colors_section__li">
              <div class="color_img_wrapper">
                <img class="color_img" src="/15/000000?text=no_text" />
              </div>
              <span class="color_name">Black</span>
            </li>
          </ul>
        </section>
        <section>
          <h3 class="section__title" id="source">Source</h3>
          <div class="source_link_wrapper">
            <a
              class="source_link"
              href="https://github.com/HixRaid/dummy-image-generator"
            >
              https://github.com/HixRaid/dummy-image-generator
            </a>
          </div>
        </section>
      </div>
    </main>
    <script src="static/js/script.js"></script>
  </body>
</html>
