html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  transition: 0.5s;
}

body {
  font-family: 'Roboto', sans-serif;
}

.dark body {
  background-color: #181818;
}

/* General */
.center_panel {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 65px;
  background-color: white;
  box-shadow: 0 0 10px #e2e2e2;
  z-index: 20;
}

.dark header {
  background-color: #181818;
  box-shadow: 0 0 10px #101010;
}

.header__container {
  padding: 0 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__left_panel {
  display: flex;
  align-items: center;
  gap: 10px;
  user-select: none;
}

/* Logo */
.logo_wrapper {
  height: 45px;
}

.header__logo_img {
  height: 100%;
}

.header__left_panel__title {
  font-size: 20px;
  font-weight: bold;
  color: #909090;
  /* Gradient */
  background: -webkit-linear-gradient(45deg, #382068, #00b6aa);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dark .header__left_panel__title {
  background: unset;
  background-clip: unset;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: unset;
}

.header__right_panel {
  height: 100%;
  display: flex;
  gap: 10px;
}

/* Header ul */
.header__ul {
  display: flex;
  gap: 10px;
  height: 100%;
}

.header__li {
  height: 100%;
  position: relative;
}

.header__link {
  text-decoration: none;
  display: flex;
  height: 100%;
  font-weight: bold;
  color: #383838;
  align-items: center;
  transition: 0.25s;
  cursor: pointer;
  user-select: none;
}

.dark .header__link {
  color: #909090;
}

.header__link:hover {
  color: #00b6aa;
}

.header__link::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: 3px;
  top: 70%;
  border-radius: 2px;
  scale: 0;
  background-color: transparent;
  transition: 0.25s;
}

.header__link:hover::before {
  scale: 1;
  background-color: #00b6aa;
}

/* Theme button */
.header__theme_button_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__theme_button {
  height: 20px;
  width: 40px;
  outline: none;
  border-radius: 10px;
  border: 1px solid #00b6aa;
  padding: 0;
  /* border: 0; */
  background-color: transparent;
  margin: 10px;
  box-shadow: 0 0 10px #e2e2e2;
  position: relative;
}

.header__theme_button span {
  position: absolute;
  display: block;
  top: 2px;
  left: 2px;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: #00b6aa;
  transition: 0.15s;
}

.dark .header__theme_button span {
  left: 22px;
}

.dark .header__theme_button {
  box-shadow: 0 0 10px #101010;
}

/* Burger */
.burger_button {
  display: none;
  width: 45px;
  height: 45px;
}

.burger_button__container {
  height: 100%;
  width: 100%;
  position: relative;
}

.burger_button__line {
  position: absolute;
  height: 4px;
  border-radius: 2px;
  background-color: #383838;
  left: 5%;
  right: 5%;

  transition: 0.25s;
}

.dark .burger_button__line {
  background-color: #505050;
}

.burger_button__line_top {
  bottom: 75%;
}

.burger_button__line_center {
  top: 50%;
  transform: translate(0, -2px);
  left: 25%;
}

.burger_button__line_bottom {
  top: 75%;
  transform: translate(0, 0);
}

.burger_button.active .burger_button__line_top {
  bottom: calc(50% - 1.5px);
  rotate: -45deg;
  background-color: #00b6aa;
}

.burger_button.active .burger_button__line_center {
  background-color: #00b6aa00;
  scale: 0;
}

.burger_button.active .burger_button__line_bottom {
  top: calc(50% - 1.5px);
  rotate: 45deg;
  background-color: #00b6aa;
}

.burger_menu {
  display: none;
  z-index: 10;
  position: fixed;
  background-color: white;
  top: 65px;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translate(0, 100%);
  opacity: 0;
  transition: 0.5s;
  overflow-y: hidden;
}

.dark .burger_menu {
  background-color: #181818;
}

.burger_menu.active {
  transform: translate(0, 0%);
  opacity: 1;
}

.burger_menu__container {
  height: 100%;
  width: 100%;
}

.burger_menu__ul {
  height: 100%;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  display: flex;
  gap: 10px;
}

.burger_menu__li {
  width: 100%;
}

.burger_menu__link {
  display: block;
  text-decoration: none;
  color: #383838;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  transition: 0.25s;
  cursor: pointer;
  user-select: none;
}

.dark .burger_menu__link {
  color: #909090;
}

.burger_menu__link:hover {
  color: #00b6aa;
}

/* Main */
main {
  padding-top: 65px;
}

.main__container {
  padding: 10px;
}

/* General */
.section__title {
  font-size: 40px;
  color: #383838;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
  display: block;
  border-bottom: #eeeeee solid 2px;
}

.dark .section__title {
  color: #909090;
  border-bottom: #202020 solid 2px;
}

.section__p {
  margin-bottom: 20px;
  color: #383838;
}

.dark .section__p {
  color: #707070;
}

.section__subtitle {
  display: block;
  font-size: 24px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  font-weight: bold;
  color: #383838;
  border-bottom: #eeeeee solid 2px;
  max-width: 500px;
}

.dark .section__subtitle {
  border-bottom: #202020 solid 2px;
  color: #808080;
}

.path_structure {
  display: flex;
  gap: 5px;
  color: #383838;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.path_structure__item {
  color: white;
  padding: 4px;
  border-radius: 6px;
  cursor: pointer;
  background-color: #00b6aa;
}

.dark .path_structure__item {
  color: #181818;
}

.dark .path_structure__sep {
  color: #606060;
}

.path_structure__params {
  border: 1px solid #00b6aa;
  padding: 4px;
  border-radius: 6px;
  color: #00b6aa;
}

.formats_list {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.formats_list__item {
  color: white;
  padding: 4px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  background-color: #00b6aa;
}

.dark .formats_list__item {
  color: #181818;
}

.formats_list__other {
  color: #383838;
  font-weight: bold;
}

.dark .formats_list__other {
  color: #606060;
}

/* Size section */
.sizes_section__ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.sizes_section__li {
  display: flex;
  height: 40px;
  align-items: center;
  gap: 5px;
  color: #383838;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.9;
  scale: 0.95;
  transition: 0.25s;
}

.dark .sizes_section__li {
  color: #606060;
}

.sizes_section__li:hover {
  opacity: 1;
  scale: 1;
}

.sizes_section__li:hover .size_number {
  background-color: #00b6aa;
}

.size_number {
  color: white;
  background-color: #383838;
  padding: 4px;
  border-radius: 6px;
  transition: 0.25s;
}

.dark .size_number {
  color: #181818;
  background-color: #606060;
}

/* Formats section */
.formats_section {
  margin-top: 10px;
}

.formats_section__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.format {
  background-color: #383838;
  color: white;
  font-size: 48px;
  font-weight: bold;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  scale: 0.95;
  transition: 0.25s;
}

.dark .format {
  color: #181818;
  background-color: #505050;
}

.format:hover {
  scale: 1;
  background-color: #00b6aa;
}

/* Colors section */
.colors_section__ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.colors_section__li {
  display: flex;
  gap: 10px;
  cursor: pointer;
  scale: 0.95;
  transition: 0.25s;

  position: relative;
}

.colors_section__li:before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 6px;
  z-index: -1;

  left: -5px;
  right: -5px;
  top: -5px;
  bottom: -5px;
  transition: 0.25s;
}

.colors_section__li:hover:before {
  background-color: #43c0b63b;
}

.colors_section__li:hover {
  scale: 1;
}

.color_name {
  color: #383838;
  font-weight: bold;
  transition: 0.25s;
}

.dark .color_name {
  color: #606060;
}

.colors_section__li:hover .color_name {
  color: #00b6aa;
}

.color_img_wrapper {
  border-radius: 50%;
  overflow: hidden;
  height: 15px;
  width: 15px;
  box-shadow: 0 0 5px #adadad;
  align-self: center;
}

.dark .color_img_wrapper {
  box-shadow: 0 0 5px #101010;
}

.color_img {
  height: 100%;
  width: 100%;
}

/* Source */
.source_link_wrapper {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.source_link {
  text-decoration: none;
  padding: 4px;
  border-radius: 6px;
  border: 1px solid #383838;
  color: #383838;

  opacity: 0.9;
  scale: 0.95;
  transition: 0.25s;
}

.dark .source_link {
  border: 1px solid #505050;
  color: #505050;
}

.source_link:hover {
  opacity: 1;
  scale: 1;
  color: #00b6aa;
  border: 1px solid #00b6aa;
  background-color: #43c0b63b;
}

/* Adaptive */
@media screen and (max-width: 950px) {
  .colors_section__ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 750px) {
  .sizes_section__ul {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .formats_section__container {
    gap: 15px;
  }

  .format {
    font-size: 36px;
    padding: 7.5px;
    border-radius: 11.25px;
  }

  .colors_section__ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 700px) {
  .header__right_panel {
    display: none;
  }

  .burger_button {
    display: block;
  }

  .burger_menu {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  body.noscroll {
    overflow: hidden;
  }

  .section__subtitle,
  .dark .section__subtitle {
    border-bottom: transparent solid 2px;
    max-width: auto;
  }

  .sizes_section__ul {
    grid-template-columns: 1fr 1fr;
  }

  .colors_section__ul {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 550px) {
  .formats_section__container {
    gap: 10px;
  }

  .format {
    font-size: 24px;
    padding: 5px;
    border-radius: 8px;
  }
}

@media screen and (max-width: 500px) {
  .colors_section__ul {
    grid-template-columns: 1fr;
    width: 200px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 450px) {
  .path_structure {
    font-size: 12px;
  }

  .path_structure__item {
    padding: 3px;
    border-radius: 4.5px;
  }

  .path_structure__params {
    padding: 3px;
    border-radius: 4.5px;
  }

  .source_link {
    font-size: 12px;
    padding: 3px;
    border-radius: 4.5px;
  }
}

@media screen and (max-width: 400px) {
  .header__left_panel__title {
    display: none;
  }

  .sizes_section__ul {
    margin: 0 auto;
    width: 180px;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 350px) {
  .formats_list__other {
    display: none;
  }

  .path_structure__sep {
    display: none;
  }
}

@media screen and (max-width: 300px) {
  .header__left_panel__title {
    display: none;
  }

  .burger_menu__link {
    font-size: 24px;
  }

  .path_structure {
    font-size: 16px;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
  }

  .path_structure__item {
    padding: 4px;
    border-radius: 6px;
  }

  .path_structure__params {
    padding: 4px;
    border-radius: 6px;
  }

  .formats_list {
    gap: 5px;
  }
}

@media screen and (max-height: 350px) {
  .burger_menu__link {
    font-size: 24px;
  }
}
