html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.center_panel {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 65px;
  background-color: white;
  border-bottom: #eeeeee solid 2px;
  z-index: 10;
}

.header__container {
  padding: 0 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__left_panel {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo_wrapper {
  height: 45px;
}

.header__logo_img {
  height: 100%;
}

.header__left_panel__title {
  font-size: 20px;
  font-weight: bold;
  color: #eeeeee;
  /* Gradient */
  background: -webkit-linear-gradient(45deg, #382068, #00b6aa);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__ul {
  display: flex;
  gap: 10px;
  height: 100%;
}

.header__li {
  height: 100%;
  position: relative;
}

.header__link {
  text-decoration: none;
  display: flex;
  height: 100%;
  font-weight: bold;
  color: #383838;
  align-items: center;
  transition: 0.25s;
}

.header__link:hover {
  color: #00b6aa;
}

.header__link::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: 3px;
  top: 70%;
  border-radius: 2px;
  scale: 0;
  background-color: transparent;
  transition: 0.25s;
}

.header__link:hover::before {
  scale: 1;
  background-color: #00b6aa;
}

.burger_button {
  display: none;
  width: 45px;
  height: 45px;
}

.burger_button__container {
  height: 100%;
  width: 100%;
  position: relative;
}

.burger_button__line {
  position: absolute;
  height: 4px;
  border-radius: 2px;
  background-color: #383838;
  left: 5%;
  right: 5%;

  transition: 0.25s;
}

.burger_button__line_top {
  bottom: 75%;
}

.burger_button__line_center {
  top: 50%;
  transform: translate(0, -2px);
  left: 25%;
}

.burger_button__line_bottom {
  top: 75%;
  transform: translate(0, 0);
}

.burger_button.active .burger_button__line_top {
  bottom: calc(50% - 1.5px);
  rotate: -45deg;
  background-color: #00b6aa;
}

.burger_button.active .burger_button__line_center {
  background-color: #00b6aa00;
  scale: 0;
}

.burger_button.active .burger_button__line_bottom {
  top: calc(50% - 1.5px);
  rotate: 45deg;
  background-color: #00b6aa;
}

.burger_menu {
  display: none;
  z-index: 10;
  position: fixed;
  background-color: white;
  top: 65px;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translate(0, 100%);
  opacity: 0;
  transition: 0.5s;
}

.burger_menu.active {
  transform: translate(0, 0%);
  opacity: 1;
}

.burger_menu__container {
  height: 100%;
  width: 100%;
}

.burger_menu__ul {
  height: 100%;
  width: 100%;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  display: flex;
  gap: 10px;
}

.burger_menu__li {
  width: 100%;
}

.burger_menu__link {
  display: block;
  text-decoration: none;
  color: #383838;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  transition: 0.25s;
}

.burger_menu__link:active {
  color: #00b6aa;
}

main {
  margin-top: 65px;
  flex-grow: 1;
}

.main__container {
  padding: 10px;
}

.section__title {
  font-size: 40px;
  color: #383838;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
  display: block;
  border-bottom: #eeeeee solid 2px;
}

.section__p {
  margin-bottom: 20px;
  color: #383838;
}

.section__subtitle {
  display: block;
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
  color: #383838;
}

.formats_list {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.formats_list__item {
  color: white;
  background-color: #383838;
  padding: 4px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  background-color: #00b6aa;
}

.formats_list__other {
  color: #383838;
  font-weight: bold;
}

.sizes_section__ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(100px);
}

.sizes_section__li {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #383838;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.9;
  scale: 0.95;
  transition: 0.25s;
}

.sizes_section__li:hover {
  opacity: 1;
  scale: 1;
}

.sizes_section__li:hover .size_number {
  background-color: #00b6aa;
}

.size_number {
  color: white;
  background-color: #383838;
  padding: 4px;
  border-radius: 6px;
  transition: 0.25s;
}

.formats_section {
  margin-top: 10px;
}

.formats_section__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.format {
  background-color: #383838;
  color: white;
  font-size: 48px;
  font-weight: bold;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  scale: 0.95;
  transition: 0.25s;
}

.format:hover {
  scale: 1;
  background-color: #00b6aa;
}

footer {
}

.footer__container {
}

@media screen and (max-width: 750px) {
  .header__left_panel__title__span {
    display: none;
  }

  .sizes_section__ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .header__left_panel__title__span {
    display: inline;
  }

  .header__ul {
    display: none;
  }

  .burger_button {
    display: block;
  }

  .burger_menu {
    display: block;
  }

  .sizes_section__ul {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 500px) {
  .header__left_panel__title__span {
    display: none;
  }

  .formats_section__container {
    gap: 10px;
  }

  .format {
    font-size: 24px;
    padding: 5px;
    border-radius: 8px;
  }
}

@media screen and (max-width: 400px) {
  .sizes_section__ul {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 300px) {
  .header__left_panel__title {
    display: none;
  }

  .burger_menu__link {
    font-size: 24px;
  }
}
