<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap"
      rel="stylesheet"
    />
    <!-- Styles -->
    <link rel="stylesheet" href="static/css/style.css" />

    <title>Dummy Image</title>
  </head>
  <body>
    <header>
      <div class="header__container center_panel">
        <div class="header__left_panel">
          <div class="logo_wrapper">
            <img class="header__logo_img" src="static/img/logo.svg" />
          </div>
          <p class="header__left_panel__title">Dummy Image</p>
        </div>
        <ul class="header__ul">
          <li class="header__li">
            <a class="header__link" href="#">About</a>
          </li>
          <li class="header__li">
            <a class="header__link" href="#">Size</a>
          </li>
          <li class="header__li">
            <a class="header__link" href="#">Formats</a>
          </li>
          <li class="header__li">
            <a class="header__link" href="#">Text</a>
          </li>
          <li class="header__li">
            <a class="header__link" href="#">Colors</a>
          </li>
          <li class="header__li">
            <a class="header__link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </header>
    <main>
      <div class="main__container center_panel">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci omnis
        placeat rem officia impedit, corporis illum animi deleniti eveniet
        soluta, a hic! Voluptatibus ad, ut maxime incidunt quos quam modi!
      </div>
    </main>
    <footer>
      <div class="footer__container">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, tempora
        facere atque a facilis expedita in eveniet voluptate sit, repudiandae
        numquam voluptatibus pariatur magnam cumque, officiis voluptates. Et,
        accusantium officiis.
      </div>
    </footer>
  </body>
</html>
