<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap"
      rel="stylesheet"
    />
    <!-- Styles -->
    <link rel="stylesheet" href="static/css/style.css" />

    <title>Dummy Image</title>
  </head>
  <body>
    <header>
      <div class="header__container center_panel">
        <div class="header__left_panel">
          <div class="logo_wrapper">
            <img class="header__logo_img" src="static/img/logo.svg" />
          </div>
          <p class="header__left_panel__title">
            Dummy Image
            <span class="header__left_panel__title__span">
              | image generator
            </span>
          </p>
        </div>
        <ul class="header__ul">
          <li class="header__li">
            <a class="header__link" href="#">About</a>
          </li>
          <li class="header__li">
            <a class="header__link" href="#">Sizes</a>
          </li>
          <li class="header__li">
            <a class="header__link" href="#">Formats</a>
          </li>
          <li class="header__li">
            <a class="header__link" href="#">Text</a>
          </li>
          <li class="header__li">
            <a class="header__link" href="#">Colors</a>
          </li>
          <li class="header__li">
            <a class="header__link" href="#">Contact</a>
          </li>
        </ul>
        <div
          class="burger_button"
          onclick="setActiveBurgerMenu(!activeBurgerMenu)"
        >
          <div class="burger_button__container">
            <span class="burger_button__line burger_button__line_top"></span>
            <span class="burger_button__line burger_button__line_center"></span>
            <span class="burger_button__line burger_button__line_bottom"></span>
          </div>
        </div>
      </div>
    </header>
    <div class="burger_menu" onclick="setActiveBurgerMenu(false)">
      <div class="burger_menu__container">
        <ul class="burger_menu__ul">
          <li class="burger_menu__li">
            <a class="burger_menu__link" href="#">About</a>
          </li>
          <li class="burger_menu__li">
            <a class="burger_menu__link" href="#">Sizes</a>
          </li>
          <li class="burger_menu__li">
            <a class="burger_menu__link" href="#">Formats</a>
          </li>
          <li class="burger_menu__li">
            <a class="burger_menu__link" href="#">Text</a>
          </li>
          <li class="burger_menu__li">
            <a class="burger_menu__link" href="#">Colors</a>
          </li>
          <li class="burger_menu__li">
            <a class="burger_menu__link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
    <main>
      <div class="main__container center_panel">
        <section class="sizes_section">
          <h3 class="section__title">Sizes</h3>
          <p class="section__p">
            Image size is one of the key characteristics of a graphics file. It
            is defined in pixels and indicates the number of points that make up
            the image horizontally and vertically.
          </p>
          <p class="section__p">
            Image size has two main components: width and height. For example,
            if an image is 1920 x 1080 pixels, that means it is 1920 pixels
            horizontally and 1080 pixels vertically.
          </p>
          <h4 class="section__subtitle">Recording formats</h4>
          <div class="formats_list">
            <span class="formats_list__item">100x100</span>
            <span class="formats_list__item">100</span>
            <span class="formats_list__item">HD</span>
            <span class="formats_list__other">and other</span>
          </div>
          <ul class="sizes_section__ul">
            <li class="sizes_section__li">
              QVGA
              <span class="size_number">320</span>
              x
              <span class="size_number">240</span>
            </li>
            <li class="sizes_section__li">
              SIF
              <span class="size_number">352</span>
              x
              <span class="size_number">240</span>
            </li>
            <li class="sizes_section__li">
              CIF
              <span class="size_number">352</span>
              x
              <span class="size_number">288</span>
            </li>
            <li class="sizes_section__li">
              WQVGA
              <span class="size_number">400</span>
              x
              <span class="size_number">240</span>
            </li>
            <li class="sizes_section__li">
              HVGA
              <span class="size_number">640</span>
              x
              <span class="size_number">240</span>
            </li>
            <li class="sizes_section__li">
              NHD
              <span class="size_number">640</span>
              x
              <span class="size_number">360</span>
            </li>
            <li class="sizes_section__li">
              VGA <span class="size_number">640</span> x
              <span class="size_number">480</span>
            </li>
            <li class="sizes_section__li">
              WVGA
              <span class="size_number">800</span>
              x
              <span class="size_number">480</span>
            </li>
            <li class="sizes_section__li">
              SVGA
              <span class="size_number">800</span>
              x
              <span class="size_number">600</span>
            </li>
            <li class="sizes_section__li">
              FWVGA
              <span class="size_number">848</span>
              x
              <span class="size_number">480</span>
            </li>
            <li class="sizes_section__li">
              QHD
              <span class="size_number">960</span>
              x
              <span class="size_number">540</span>
            </li>
            <li class="sizes_section__li">
              WSVGA
              <span class="size_number">1024</span>
              x
              <span class="size_number">600</span>
            </li>
            <li class="sizes_section__li">
              XGA
              <span class="size_number">1024</span>
              x
              <span class="size_number">768</span>
            </li>
            <li class="sizes_section__li">
              WXVGA
              <span class="size_number">1200</span>
              x
              <span class="size_number">600</span>
            </li>
            <li class="sizes_section__li">
              HD
              <span class="size_number">1280</span>
              x
              <span class="size_number">720</span>
            </li>
            <li class="sizes_section__li">
              WXGA
              <span class="size_number">1280</span>
              x
              <span class="size_number">768</span>
            </li>
            <li class="sizes_section__li">
              SXGA
              <span class="size_number">1280</span>
              x
              <span class="size_number">1024</span>
            </li>
            <li class="sizes_section__li">
              XJXGA
              <span class="size_number">1536</span>
              x
              <span class="size_number">960</span>
            </li>
            <li class="sizes_section__li">
              WSXGA
              <span class="size_number">1600</span>
              x
              <span class="size_number">1024</span>
            </li>
            <li class="sizes_section__li">
              UXGA
              <span class="size_number">1600</span>
              x
              <span class="size_number">1200</span>
            </li>
            <li class="sizes_section__li">
              FHD
              <span class="size_number">1920</span>
              x
              <span class="size_number">1080</span>
            </li>
            <li class="sizes_section__li">
              WUXGA
              <span class="size_number">1920</span>
              x
              <span class="size_number">1200</span>
            </li>
          </ul>
        </section>
        <section class="formats_section">
          <h3 class="section__title">Formats</h3>
          <div class="formats_section__container">
            <span class="format">PNG</span>
            <span class="format">JPEG</span>
            <span class="format">SVG</span>
          </div>
        </section>
      </div>
    </main>
    <footer>
      <div class="footer__container">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, tempora
        facere atque a facilis expedita in eveniet voluptate sit, repudiandae
        numquam voluptatibus pariatur magnam cumque, officiis voluptates. Et,
        accusantium officiis.
      </div>
    </footer>
    <script src="static/js/script.js"></script>
  </body>
</html>
